* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}


body {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.container {
    min-width: 500px;
    min-height: 500px;
    max-width: 500px;
    max-height: 500px;
    display: flex;
    flex-wrap: wrap;
}